{% extends 'base.html' %}
{% block content %}
<style>
    .form{
    border: none;
    /* border-radius: 10px; */
    padding: 20px;
    /* padding-top: 200%; */
    }
</style>

<div class="container pt-5">
        
  
        {% if message %}
        {% if sts == 'danger' %}
        <div class="alert alert-danger" role="alert">
           {{ message }}
          </div>
          {% endif %}
        {% if sts == 'success' %}
        <div class="alert alert-success" role="alert">
            {{ message }}
           </div>
           {% endif %}
        {% endif %}
          
       
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form }}<br>
          
            
                
                <input type="file" name="myfile">
                



            <button type="submit" class="btn btn-primary">Add Employee</button>
        </form>
   

</div>
       
    


{% endblock %}

