<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django PDF</title>
    <style>
        th, td{
            padding: 5px 15px;
        }
        th{
            font-size: 20px;
            font-weight: bold;
        }
        td{
            font-size: 15px;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;" >List of States by respective Countries</h1>

    <table border="1" style="border-collapse: collapse;" >
        <thead>
            <tr>
                <td>Name</td>
                 <td>Catagory</td>
                 <td>star_date</td>
                 <td>end_date</td>
            </tr>
        </thead>

        <tbody>
            {% for value in LeaveApplications %}
                <tr>
                    <td>{{value.user}}</td>
                     <td>{{value.leave_category}}</td>
                     <td>{{value.star_date}}</td>
                     <td>{{value.end_date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>            
</body>
</html>